/*
Custom styles for gutenberg blocks on frontend and backend
*/

@import '../elements/button-default';


body {
  .wp-block-button > .wp-block-button__link,
  .wp-block-button.is-style-fill .wp-block-button__link,
  .wp-block-button.is-style-default .wp-block-button__link  {
    @extend .cp-default-button;
  }
  
  .wp-block-button.is-style-outline-button .wp-block-button__link {
    @extend .cp-default-button, .is-light;
  }
  
  .is-style-small-button .wp-block-button__link,
  .wp-block-button.is-style-small-button .wp-block-button__link {
    @extend .cp-default-button,.is-small;
  }
  
  .is-style-small-outline-button .wp-block-button__link,
  .wp-block-button.is-style-small-outline-button .wp-block-button__link {
    @extend .cp-default-button,.is-light, .is-small;
  }
  
  .wp-block-button.is-style-large-button .wp-block-button__link {
    @extend .cp-default-button, .is-large;
  }
  
  .wp-block-button.is-style-large-outline-button .wp-block-button__link {
    @extend .cp-default-button, .is-large, .is-light;
  }
}

.wp-block-column .wp-block-cover img {
  border-radius: var(--cp-border-radius-sm);
}

.wp-block-column .wp-block-cover .wp-block-cover__inner-container h5.has-background {
  border-radius: var(--cp-border-radius-sm);
}


.wp-block-cover.alignfull {
  padding-top: var(--cp-gap--lg);
  padding-bottom: var(--cp-gap--lg);
}

.wp-block-cover__inner-container > .wp-block-columns:last-child {
  margin-bottom: 0;
}


@for $i from 1 through 5 {
  @for $j from 1 through 5 {
    h#{$i} + h#{$j} {
      margin-top: var(--cp-gap--md);
    }
  }
}

p {
  margin-bottom: var(--cp-gap--sm);
}

p + *:not(p) {
  margin-top: var(--cp-gap--md);
}

.rounded-sm {
  overflow: hidden !important;
  border-radius: var(--cp-border-radius-sm) !important;
}

.rounded-md {
  overflow: hidden !important;
  border-radius: var(--cp-border-radius-md) !important;
}

.rounded-lg {
  overflow: hidden !important;
  border-radius: var(--cp-border-radius) !important;
}