h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-bottom: 1em;
	
	&:not(:first-child) {
		margin-top: var(--cp-gap--sm);
	}
}

body .page-title {
	color: #000000;
}

%h1, h1, .h1,
h1.page-title,
.entry-content h1 {
	color: #000000;
	font-size: $font-size-h1 * $mobile-modifier;
	line-height: $line-height-h1;
	font-weight: var(--cp-font-weight--bold);
	
	@include media-breakpoint-up(md) {
		font-size: $font-size-h1;
	}
	
	a {
		color: #000000;
	}
}

%h2, h2, .h2,
h2.page-title,
.entry-content h2 {
	color: #000000;
	font-size: $font-size-h2 * $mobile-modifier;
	line-height: $line-height-h2;
	font-weight: var(--cp-font-weight--bold);

	@include media-breakpoint-up(md) {
		font-size: $font-size-h2;
	}

	a {
		color: #000000;
	}
}

%h3, h3, .h3,
.entry-content h3 {
	color: #000000;
	font-size: $font-size-h3 * $mobile-modifier;
	line-height: $line-height-h3;
	font-weight: var(--cp-font-weight--bold);

	@include media-breakpoint-up(md) {
		font-size: $font-size-h3;
	}

	a {
		color: #000000;
	}
}

%h4, h4, .h4,
.entry-content h4 {
	color: #000000;
	line-height: $line-height-h4;
	font-size: $font-size-h4;
	font-weight: var(--cp-font-weight--bold);
  font-family: var(--cp-font-family--base);
  text-transform: uppercase;
}

%h5, h5, .h5,
.entry-content h5 {
	color: #000000;
	line-height: $line-height-h5;
	font-size: $font-size-h5;
	font-weight: var(--cp-font-weight--bold);
  font-family: var(--cp-font-family--base);
  text-transform: uppercase;
}

%h6, h6, .h6,
.entry-content h6 {
	color: #000000;
	line-height: $line-height-h6;
	font-size: $font-size-h6;
	font-weight: var(--cp-font-weight--bold);
  font-family: var(--cp-font-family--base);
  text-transform: uppercase;
}

.cpl-list-type--details {
	display: none;
}