@import 'gutenberg-editor-variables';
@import '../elements/blocks';

.block-editor-block-list__layout.is-root-container:not(.wp-block-cover__innercontainer) > .wp-block.wp-block-columns {
	&:not(:first-child) {
		margin-top: var(--cp-gap--xl);
	}

	&:not(:last-child) {
		margin-bottom: var(--cp-gap--xl);
	}

}

.wp-block-columns:last-child {
  margin-bottom: 0;
}

.editor-styles-wrapper {

	.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.aligncenter, .wp-block-image.alignleft, .wp-block-image.alignright {
		display: table;
	}

}

.wp-block-cover, .wp-block-cover-image {
  min-height: 200px;
}





