@import 'gutenberg-editor-variables';
@import '../elements/blocks';


.block-editor-block-list__layout.is-root-container:not(.wp-block-cover__innercontainer) {
  .wp-block-column, .wp.block-group {
    .wp-block.wp-block-columns:not(:first-child) {
      margin-top: var(--cp-gap--md);
    }
    .wp-block.wp-block-columns:not(:last-child) {
      margin-bottom: var(--cp-gap--md);
    }
  }

  & > .wp-block.wp-block-columns {
    margin-top: var(--cp-gap--lg);
  }
  & > .wp-block.wp-block-cover.alignfull:not(:last-child) {
    margin-bottom: var(--cp-gap--lg);
  }
}


// columns and full-width cover behave the same
// .block-editor-block-list__layout.is-root-container:not(.wp-block-cover__innercontainer) > .wp-block.wp-block-columns,
// .block-editor-block-list__layout.is-root-container:not(.wp-block-cover__innercontainer) > .wp-block.wp-block-cover.alignfull
//  {
	
// }

body .editor-styles-wrapper .wp-block-paragraph a:where(:not(.wp-element-button)) {
  text-decoration: underline;
  color: inherit;
}


.editor-styles-wrapper {

	.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.aligncenter, .wp-block-image.alignleft, .wp-block-image.alignright {
		display: table;
	}

}

.wp-block-cover, .wp-block-cover-image {
  min-height: 200px;
}


.block-editor-block-contextual-toolbar {
  .components-toolbar-group:has( button[aria-label="Bold"] ) {
    display: none;
  }

  &:has( .block-editor-block-switcher button[aria-label="Paragraph"] ),
  &:has( .block-editor-block-switcher button[aria-label="Infobox"] ),
  &:has( .block-editor-block-switcher button[aria-label="Heading"] )
  {
    .components-toolbar-group:has( button[aria-label="Bold"] ) {
      display: block;
    }
  }  
} 

.edit-post-visual-editor__post-title-wrapper.invisible + .is-root-container > .wp-block-columns:first-child {
  margin-top: var(--cp-gap--lg);
}

body .edit-post-visual-editor__post-title-wrapper,
body .ast-stacked-title-visibility .edit-post-visual-editor__post-title-wrapper {
  max-width: 71rem;
}